/* Fade-out effect for Confetti */
.fade-out {
  transition: opacity 2s;
  opacity: 0;
}

body {
  font-family: 'Noto Sans Kawi', sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
